.about-name{
    
    min-height: 100vh;
}

.background-text-container{
    
    height: 100%;

    position: absolute;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    row-gap: 20vh;
    z-index: -10;
    

    .main-text{
        font-size: 20vw;
        color: #000000;
        
    }

    .sub-text{
        position: relative;
        font-size: 23vw;
        color: #000000;
        
    }



    .hi-text-container{
        align-self: flex-start;
        position: relative;
        padding-top: 10vh;
        overflow: visible;
        
    }
    .name-text-container{
        overflow: visible;
        width: 100vw;
        height: 20vh;
    }
    .im-text-container{
        position: relative;
        width: 90%;
        overflow: visible;
        
    }
    .hi {
        stroke-dasharray: 850;
        stroke-dashoffset: 1000;
        fill-opacity: 0;
      }

    .im{
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        fill-opacity: 0;
    }
    .name{
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        fill-opacity: 0;
    }


}

