@use "./portfolio";
@use "./contact-form";
@use "./base";
@use "./about";
@use "./variables";



@mixin flex-box($flex-direction, $justify-content, $align-items){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
@mixin Fraunces{
    font-family: 'Fraunces', serif;
}

*{
  box-sizing: border-box;  
}

button{
    cursor: pointer;
}

.scroll-mobile{
    display: none;
}

.App{
    width: 100%;
    height: 100vh;
}

html, body, .container, .panel{
    max-height: 100vh;

    
}

.name_animation_container{
    height: 100vh;
    width: 100%;
    font-weight: 700;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$shaaq-tertiary;
    position: absolute;
    z-index: 20;
}

.header-container{
    width: 100vw;
    height: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;

    background-color: variables.$shaaq-light_purple;
    border: solid 2px black;

    .progress-container{
        width: 80%;
        height: 100%;

        @include flex-box(row, space-between, center)
    }

    button{
        width: 3rem;
        height: 3rem;
    
        
        border-style: none;
    }

    .about_button{
        width: 4rem;
        height: 4rem;
        
        background-image: url(/design_elements/Logo/AJ_logo_no_dot.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .portfolio_button{
        width: 4rem;
        height: 4rem;
       
        .header-palette-icon{
            position: relative;
            top: 2px;
            transform: rotate(200deg) scale(0.9);
            
        }
    }

    .contactForm_button{
        width: 3rem;
        height: 3rem;

        .header-person-icon{
            position: relative;  
            right: 7%;
            
        }
    }
}

.progress-circle{
    position: relative;
    
    background-color: black;

    left: 2.45rem;
    top: 10px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 3;
}


body{
    overscroll-behavior: none;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
   
}
body::-webkit-scrollbar {
    width: 0;
    opacity: 0;
  }
  
.container {
    overscroll-behavior: none;
    width: 300%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;

  }


  .panel{
    width: 100%;
    font-weight: 700;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one{
background-color: variables.$shaaq-primary;
}

.two{
    background-color: variables.$shaaq-secondary;
}

.three{
background-color: variables.$shaaq-tertiary;
}

.pin-spacer{
    display: none;
}

.display-button{
    width: 12rem;
    height: 12rem;

    border-radius: 100%;
    justify-self: center;
    align-self: center;
    border: 3px solid black;
    background-color: variables.$shaaq-light_purple;
   
}

@media only screen and (max-width: 1000px) {

    .App{
        position: relative;
        width: 100vw;
        max-width: 100vw;
        min-height: 400vh;
        overflow: hidden;
        background-color: lavenderblush;
    }

    

    .scroll {
       display: none;
    }

    .scroll-mobile{
        display: flex;
    }

    .container-mobile{
        overflow: hidden;
        width: 100vw;
        min-height: 300vh;
        display: flex;
        flex-direction: column;
        
        .panel-mobile{
            width: 100vw;
            height: 100vh;
            font-weight: 700;
            font-size: 1.5em;
            display: flex;
            justify-content: center;
            align-items: center;
        
        }
    }

    

    
  }