/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap");
.portfolio-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.javascript {
  background-image: url(/design_elements/portoflio-list-elements/pencil.svg);
  background-position: center;
  background-size: 100%;
}

.css {
  background-image: url(/design_elements/portoflio-list-elements/paint-brush-icon.svg);
  background-position: center;
  background-size: 100%;
}

.general {
  background-image: url(/design_elements/portoflio-list-elements/fountain-pen-icon.svg);
  background-position: center bottom;
  background-size: 100%;
}

.portfolio-items {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-self: center;
  align-items: center;
  z-index: 2;
}

.visible {
  display: flex;
  opacity: 100%;
}

.hidden {
  display: none;
}

.portfolio-list-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
  justify-content: center;
  align-items: center;
}
.portfolio-list-container .portfolio-list {
  height: 50vh;
  z-index: 3;
  max-width: 20rem;
  min-width: 90vw;
  min-height: 20rem;
}
.portfolio-list-container .portfolio-list .portfolio-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 3px solid #000000;
  border-bottom: none;
  background-color: #a7a4e0;
  z-index: 4;
}
.portfolio-list-container .portfolio-list .portfolio-list-header .portfolio-header-exit-button {
  position: relative;
  width: 2.6rem;
  height: 2.6rem;
  border: 2.8px solid #000000;
  background-image: url("/design_elements/portoflio-list-elements/x.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 3px 3px;
}
.portfolio-list-container .portfolio-list .portfolio-list-header .portfolio-header-exit-button:hover {
  top: 3px;
  left: 3px;
  box-shadow: 0px 0px;
}
.portfolio-list-container .portfolio-list .portfolio-list-content {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  width: 100%;
  height: 100%;
  border: 3px solid black;
  z-index: 3;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #c9ccc9;
}
.portfolio-list-container .portfolio-list .portfolio-list-content .portfolio-data-item {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "names description buttons";
  width: 100%;
  height: 8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 2px solid #000000;
  background-color: #c9ccc9;
  overflow: hidden;
}
.portfolio-list-container .portfolio-list .portfolio-list-content .portfolio-data-item .data-item-name {
  font-size: 2rem;
  grid-area: names;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.portfolio-list-container .portfolio-list .portfolio-list-content .portfolio-data-item .data-item-description {
  font-size: 80%;
  grid-area: description;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.portfolio-list-container .portfolio-list .portfolio-list-content .portfolio-data-item .data-item-buttons {
  grid-area: buttons;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.portfolio-list-container .portfolio-list .portfolio-list-content .portfolio-data-item .data-item-buttons .webpage {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: #a7a4e0;
  background-image: url("/design_elements/portoflio-list-elements/icon_file_text_.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  border: 2.8px solid black;
  box-shadow: 3px 3px;
}
.portfolio-list-container .portfolio-list .portfolio-list-content .portfolio-data-item .data-item-buttons .webpage:hover {
  top: 3px;
  left: 3px;
  box-shadow: 0px 0px;
}
.portfolio-list-container .portfolio-list .portfolio-list-content .portfolio-data-item .data-item-buttons .source-code {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: #a7a4e0;
  background-image: url("/design_elements/portoflio-list-elements/source_github_logo_.svg");
  background-position: 60%;
  background-repeat: no-repeat;
  background-size: 90%;
  border: 2.8px solid black;
  box-shadow: 3px 3px;
}
.portfolio-list-container .portfolio-list .portfolio-list-content .portfolio-data-item .data-item-buttons .source-code:hover {
  top: 3px;
  left: 3px;
  box-shadow: 0px 0px;
}
.portfolio-list-container .portfolio-list .portfolio-list-content .portfolio-data-item a {
  color: #000000;
  font-size: 0.9rem;
  text-decoration: none;
}
.portfolio-list-container .portfolio-list-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: #707372;
  opacity: 90%;
}

.previous-text-container {
  position: relative;
  align-self: flex-start;
  overflow: visible;
}

.work-text-container {
  position: relative;
  align-self: flex-start;
  font-size: 15rem;
  overflow: visible;
}

.previous {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill-opacity: 0;
}

.work {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill-opacity: 0;
}

@media only screen and (max-width: 800px) {
  .portfolio-list-container .portfolio-list .portfolio-list-content .portfolio-data-item {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "names buttons";
  }
  .portfolio-list-container .portfolio-list .portfolio-list-content .portfolio-data-item .data-item-description {
    position: absolute;
    display: none;
  }
}
.contact-form_container {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.contact-form_container .email-button {
  background-image: url(/design_elements/portoflio-list-elements/mail-icon.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.contact-form_container .email-box {
  height: 30rem;
  z-index: 3;
  max-width: 20rem;
  min-width: 90vw;
  min-height: 30rem;
  z-index: 3;
}
.contact-form_container .email-container {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contact-form_container .email-container .email-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 3px solid #000000;
  border-bottom: none;
  background-color: #a7a4e0;
  z-index: 4;
}
.contact-form_container .email-container .email-header .contact-header-exit-button {
  position: relative;
  width: 2.6rem;
  height: 2.6rem;
  border: 2.8px solid #000000;
  background-image: url("/design_elements/portoflio-list-elements/x.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 3px 3px;
}
.contact-form_container .email-container .email-header .contact-header-exit-button:hover {
  top: 3px;
  left: 3px;
  box-shadow: 0px 0px;
}
.contact-form_container .email-container .email-content {
  width: 100%;
  height: 100%;
  background-color: #c9ccc9;
  border: 3px solid black;
  z-index: 3;
  overflow-y: scroll;
  overflow-x: hidden;
}
.contact-form_container .email-container .email-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.contact-form_container .email-container .contact-form-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #54585a;
  opacity: 90%;
  z-index: 0;
}

.contact-form_input {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  padding: 1rem;
}
.contact-form_input .form {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.contact-form_input .send-button {
  position: relative;
  height: 2.5rem;
  width: 8.5rem;
  align-self: center;
  background-color: #a7a4e0;
  box-shadow: 3px 3px;
}
.contact-form_input .send-button:hover {
  top: 3px;
  left: 3px;
  box-shadow: 0px 0px;
}

.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
}
.input-container .input-subject {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.input-container .input-subject h1 {
  width: 6rem;
}
.input-container .input-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.input-container .input-email h1 {
  width: 6rem;
}

.input {
  width: 100%;
  height: 2rem;
}

.text {
  width: 100%;
  min-height: 15rem;
  max-height: 15rem;
  resize: none;
}

.contact-text-container {
  position: relative;
  align-self: flex-start;
  width: 100%;
  overflow: visible;
}

.me-text-container {
  position: relative;
  width: 100vw;
  align-self: flex-start;
  font-size: 20vw;
  overflow: visible;
}

.contact {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill-opacity: 0;
}

.me {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill-opacity: 0;
}

@font-face {
  font-family: canvas;
  src: url(/design_elements/MADE\ Canvas\ Black\ PERSONAL\ USE.otf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about-name {
  min-height: 100vh;
}

.background-text-container {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  row-gap: 20vh;
  z-index: -10;
}
.background-text-container .main-text {
  font-size: 20vw;
  color: #000000;
}
.background-text-container .sub-text {
  position: relative;
  font-size: 20vw;
  color: #000000;
}
.background-text-container .hi-text-container {
  align-self: flex-start;
  position: relative;
  padding-top: 10vh;
  overflow: visible;
}
.background-text-container .name-text-container {
  overflow: visible;
  width: 100vw;
  height: 20rem;
}
.background-text-container .im-text-container {
  position: relative;
  width: 90%;
  overflow: visible;
}
.background-text-container .hi {
  stroke-dasharray: 850;
  stroke-dashoffset: 1000;
  fill-opacity: 0;
}
.background-text-container .im {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill-opacity: 0;
}
.background-text-container .name {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill-opacity: 0;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.scroll-mobile {
  display: none;
}

.App {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: lavenderblush;
}

.scroll-mobile {
  display: flex;
}

html, body, .container, .panel {
  max-height: 100vh;
}

.container-mobile {
  overflow: hidden;
  width: 100vw;
  min-height: 300vh;
  display: flex;
  flex-direction: column;
}
.container-mobile .panel-mobile {
  width: 100vw;
  height: 100vh;
  font-weight: 700;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_animation_container {
  height: 100vh;
  width: 100%;
  font-weight: 700;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #54585a;
  position: absolute;
  z-index: 20;
}

.header-container {
  width: 100vw;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  background-color: #a7a4e0;
  border: solid 2px black;
}
.header-container .progress-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-container button {
  width: 3rem;
  height: 3rem;
  border-style: none;
}
.header-container .about_button {
  width: 4rem;
  height: 4rem;
  background-image: url(/design_elements/Logo/AJ_logo_no_dot.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.header-container .portfolio_button {
  width: 4rem;
  height: 4rem;
}
.header-container .portfolio_button .header-palette-icon {
  position: relative;
  top: 2px;
  transform: rotate(200deg) scale(0.9);
}
.header-container .contactForm_button {
  width: 3rem;
  height: 3rem;
}
.header-container .contactForm_button .header-person-icon {
  position: relative;
  right: 7%;
}

.progress-circle {
  position: relative;
  background-color: black;
  left: 2.45rem;
  top: 10px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  z-index: 3;
}

body {
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0;
  opacity: 0;
}

.container {
  overscroll-behavior: none;
  width: 300%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.panel {
  width: 100%;
  font-weight: 700;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  background-color: #b2b4b2;
}

.two {
  background-color: #707372;
}

.three {
  background-color: #54585a;
}

.pin-spacer {
  display: none;
}

.display-button {
  width: 20vw;
  max-width: 20rem;
  height: 20vw;
  max-height: 20rem;
  border-radius: 100%;
  justify-self: center;
  align-self: center;
  border: 3px solid black;
  background-color: #a7a4e0;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1500px) {
  .background-text-container .main-text {
    font-size: 20rem;
  }
  .background-text-container .sub-text {
    font-size: 14rem;
  }
  .display-button {
    width: 25vw;
    max-width: 15rem;
    height: 20vw;
    max-height: 15rem;
    border-radius: 100%;
    justify-self: center;
    align-self: center;
    border: 3px solid black;
    background-color: #a7a4e0;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1000px) {
  .background-text-container .main-text {
    font-size: 15rem;
  }
  .background-text-container .sub-text {
    font-size: 10rem;
  }
  .portfolio-list-container .portfolio-list {
    min-width: 70rem;
  }
  .contact-form_container .email-box {
    min-width: 70rem;
  }
}/*# sourceMappingURL=stylesheet.css.map */